<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (C) 2022
 * @author    Anton Smolenov
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerGraphQl\Model\Resolver\GenerateCustomerToken">
        <plugin name="graphql_secret_code"
                type="AntonSmolenov\SecretCode\Plugin\SecretCode" sortOrder="10"/>
    </type>
</config>
