<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (C) 2022
 * @author    Anton Smolenov
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AntonSmolenov_SecretCode">
        <module name="Magento_CustomerGraphQl"/>
    </module>
</config>
